@use '../abstracts' as *;

:root {
  @include define-theme-variables(light);
}

[data-theme='dark'] {
  @include define-theme-variables(dark);
}

main {
  padding-top: 128px;
  font-family: var(--font-roboto);
  color: var(--gl-text);
  background-color: var(--gl-background);
  height: 5000px;
}
