@use '../abstracts' as *;

:root {
  @include define-theme-variables(light);
  --gl-header-padding: #{$header-padding};
}

[data-theme='dark'] {
  @include define-theme-variables(dark);
}

main {
  font-family: var(--font-roboto);
  color: var(--gl-text-v1);
}
