.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  padding: 16px 0;
  min-height: 128px;
  font-family: var(--font-poppins);
  color: var(--gl-text-v1);
  transition: all 200ms ease-in-out;

  &.scrolled {
    min-height: 68px;
    background-color: var(--gl-body-v3);

    .header-in {
      .logo {
        width: 200px;
        height: 56px;
        margin: 0 15px;
      }
    }
  }

  &-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 84px;

    .logo {
      width: 230px;
      height: 60px;
      transition: all 200ms ease-in-out;
    }

    .navigation {
      flex-grow: 1;
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 4px;
        li {
          .nav-anchor {
            position: relative;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.2px;
            padding: 8px 16px;
            transition: all 200ms ease-in-out;
          }
        }
      }
    }

    .actions {
      .menu-button {
        padding: 8px 16px;
        color: var(--gl-text-v1);

        .base-icon {
          font-size: 28px;
        }
      }
    }
  }
}
