@use '../abstracts' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  padding: 16px 0;
  min-height: 128px;
  font-family: var(--font-poppins);
  color: var(--gl-text-v1);
  transition: all 300ms ease-in-out;

  &.scrolled {
    min-height: 68px;
    background-color: var(--gl-body-v3);

    .header-in {
      .logo {
        width: 200px;
        height: 56px;
        margin: 0 15px;
      }
    }
  }

  &-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 84px;

    .logo {
      width: 230px;
      height: 60px;
      transition: all 200ms ease-in-out;
    }

    .nav-pages {
      flex-grow: 1;
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 4px;
        li {
          .nav-anchor {
            position: relative;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.2px;
            padding: 8px 16px;
            transition: all 200ms ease-in-out;
          }
        }
      }
    }

    .actions {
      .menu-button {
        padding: 8px 16px;
        color: var(--gl-text-v1);

        .base-icon {
          font-size: 28px;
        }
      }
    }
  }

  @include media-query($media-xl) {
    &-in {
      column-gap: 44px;

      .nav-pages {
        ul {
          column-gap: 4px;
          li {
            .nav-anchor {
              padding: 8px 12px;
            }
          }
        }
      }
    }
  }

  @include media-query($media-lg) {
    &-in {
      column-gap: 24px;

      .logo {
        width: 190px;
      }

      .nav-pages {
        ul {
          column-gap: 4px;
          li {
            .nav-anchor {
              padding: 8px 8px;
            }
          }
        }
      }
    }
  }

  @include media-query($media-md) {
    &-in {
      .nav-pages {
        display: none;
      }
    }
  }
}

header {
  .panel-overlay {
    cursor: cl;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0;
    z-index: 1010;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 350ms ease-in-out;

    &.panel-overlay-show {
      opacity: 1;
      width: 100%;
      height: 100%;
      pointer-events: all;

      cursor: url('/images/site/pointer-close.webp'), auto;
    }

    @include media-query($media-xs) {
      display: none;
    }
  }
}
