.header-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  padding: 38px;
  transform: translateX(101%);
  z-index: 1100;
  transition: all 350ms ease-in-out 350ms;
  background-color: var(--gl-body-v2);
  background-image: linear-gradient(to right, var(--gl-body-v4) 1px, transparent 1px),
    linear-gradient(to bottom, var(--gl-body-v4) 1px, transparent 1px);
  background-size: 10px 10px;

  &.panel-open {
    transform: translateX(0%);
  }

  .panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 180px;
      height: 60px;
    }

    .close-panel-btn {
      display: flex;
      align-items: center;
      padding: 8px;

      .base-icon {
        font-size: 24px;
        color: var(--gl-subtitle-v1);
        transition: all 180ms ease-in-out;
      }
    }
  }
}
