.join-discord {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  font-family: var(--font-poppins);
  font-size: 15px;
  font-weight: 700;
  padding: 14px 24px 12px 24px;
  margin: 16px 0;
  border-radius: 4px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background-color: #5865f2;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: #4251f5;
  }

  .base-icon {
    font-size: 20px;
  }
}
