@use '../abstracts' as *;

.metin2-server-list {
  min-height: 100vh;

  &-in {
    min-height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 12px;

    .servers {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .metin2-server-filters {
        margin-bottom: 10px;
      }

      &-list {
        .metin2-server-card {
          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }
    }

    .banner {
      max-width: 300px;
      &.banner-left {
        border: 1px solid rgba(255, 255, 255, 0.1);
      }

      &.banner-right {
        border: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
}
