.metin2-server-list {
  min-height: 100vh;

  &-in {
    min-height: 900px;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    justify-content: space-between;
    gap: 12px;

    .servers {
      .metin2-server-filters {
        margin-bottom: 10px;
      }

      &-list {
        .metin2-server-card {
          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }
    }

    .banner {
      &.banner-left {
        border: 1px solid rgba(255, 255, 255, 0.1);
      }

      &.banner-right {
        border: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
}
