.metin2-server-list {
  min-height: 100vh;

  &-in {
    min-height: 900px;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    justify-content: space-between;
    gap: 12px;

    .servers {
      .metin2-server-filters {
        margin-bottom: 12px;
      }

      &-list {
      }
    }

    .banner {
      &.banner-left {
        border: 1px solid green;
      }

      &.banner-right {
        border: 1px solid blue;
      }
    }
  }
}
