.metin2-server-list-page {
  padding-top: var(--gl-header-padding);
  background-color: var(--gl-body-v3);
  min-height: 100vh;

  &-in {
    display: grid;
    grid-template-columns: 400px 1024px;
    justify-content: center;
    column-gap: 48px;

    .slidebar {
      border: 1px solid var(--gl-border-v1);
    }

    .server-list {
      &-filters {
        .result-info {
          text-align: end;
          margin: 6px 0;
          .text {
            font-size: 15px;
            line-height: 22px;
            font-weight: 400;
            color: var(--gl-subtitle-v1);
          }
        }
      }
    }
  }
}
