.metin2-server-detail {
  padding-top: var(--gl-header-padding);
  background-color: var(--gl-body-v3);
  min-height: 100vh;

  &-in {
    display: grid;
    grid-template-columns: 300px 1fr 300px;

    .server-detail-start {
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      background-color: var(--gl-body-v5);
      border: 1px solid var(--gl-border-v1);

      .detail-section {
        border-radius: 6px;
        margin-bottom: 12px;
        background-color: var(--gl-body-v4);
        border: 1px solid var(--gl-border-v1);

        &-title {
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 4px;
          font-size: 16px;
          line-height: 34px;
          font-weight: 400;
          letter-spacing: 0.2px;
          padding: 8px 18px;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;

          color: var(--gl-subtitle-v1);
          background-color: var(--gl-body-v3);

          .base-icon {
            font-size: 12px;
            color: var(--gl-primary-v2);
          }
        }

        &-description {
          display: block;
          font-family: var(--font-barlow);
          font-size: 16px;
          font-weight: 400;
          padding: 8px 18px;
          color: var(--gl-subtitle-v1);

          &:not(:last-child) {
            border-bottom: 1px solid var(--gl-border-v1);
          }

          &.multi-col {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
          }

          span.text-true {
            color: var(--gl-primary-v1);
          }
          span.text-false {
            color: var(--gl-red-v1);
          }
        }
      }

      .server-name {
        font-size: 42px;
        line-height: 46px;
        font-weight: 800;
        font-family: var(--font-barlow);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.8px;
        color: var(--gl-primary-v2);
      }

      .server-level {
        font-size: 26px;
        line-height: 36px;
        font-weight: 900;
        text-align: center;
        color: var(--gl-subtitle-v1);
      }

      .server-type {
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 24px;
        color: var(--gl-subtitle-v1);
      }
    }

    .server-detail-middle {
      padding: 10px;
      background-color: var(--gl-body-v4);
      border-top: 1px solid var(--gl-border-v1);
      border-bottom: 1px solid var(--gl-border-v1);
    }

    .server-detail-end {
      display: flex;
      flex-direction: column;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 10px;
      background-color: var(--gl-body-v5);
      border: 1px solid var(--gl-border-v1);

      .server-teams {
        .category-structure {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
