.metin2-server-card {
  position: relative;
  display: grid;
  grid-template-columns: 90px 130px 160px 96px 70px 100px 1fr;
  gap: 12px;
  width: 100%;
  min-height: 115px;
  padding: 12px 24px;
  border-radius: 20px;
  border-bottom: 3px solid var(--gl-primary-v3);
  background-color: var(--gl-body-v1);

  .category {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    .title {
      font-size: 16px;
      font-weight: 400;
      color: var(--gl-subtitle-v1);
    }
    .content {
      flex-grow: 1;
      .text {
        display: block;
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
        color: var(--gl-text-v1);
      }
    }

    &.auto-hunt {
      text-align: center;
      .base-icon {
        font-size: 26px;
      }
    }

    &.legal-sale {
      text-align: center;
      .base-icon {
        font-size: 28px;
        background: linear-gradient(90deg, #ffdc64 0%, #ffc850 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: 0;
    border-radius: 20px;
    padding: 3px;
    background: radial-gradient(
      circle at 10%,
      rgba(255, 190, 24, 0.5) 0%,
      rgba(251, 222, 147, 0.08) 100%
    );
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    left: -1px;
    bottom: -3px;
    width: 121px;
    height: 24px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--gl-primary-v3);
  }

  &.opened {
    border-bottom: 3px solid var(--gl-primary-v2);

    &::before {
      background: radial-gradient(
        circle at 10%,
        rgba(1, 141, 71, 1) 0%,
        rgba(255, 255, 255, 0.08) 100%
      );
    }

    &::after {
      background-color: var(--gl-primary-v2);
    }
  }
}
