.metin2-server-filter-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;

  .result-info {
    .text {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: var(--gl-subtitle-v1);
      text-transform: uppercase;
    }
  }

  .filter-search-box {
    .search-input {
      .MuiFormLabel-root {
        color: var(--gl-subtitle-v1);
        font-size: 16px;
      }
      .MuiInputBase-root {
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        background-color: var(--gl-body-v5);

        &.Mui-focused {
          fieldset {
            border-color: var(--gl-border-v1);
          }
        }

        &:hover {
          fieldset {
            border-color: var(--gl-border-v1);
          }
        }

        .MuiInputBase-input {
          color: var(--gl-text-v1);
          letter-spacing: 0.4px;
        }
      }
    }
  }
}
