.section-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  text-align: center;

  &::after {
    display: block;
    content: '';
    width: 54px;
    height: 6px;
    background-color: var(--gl-primary-v1);
    margin-top: 16px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  &.left {
    text-align: start;
    align-items: flex-start;
    border-left: 6px solid var(--gl-primary-v1);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    padding-left: 18px;

    &::after {
      display: none;
    }
  }

  .subtitle {
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--gl-primary-v1);
  }

  .title {
    max-width: 720px;
    font-size: 42px;
    font-weight: 800;
    line-height: 54px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }

  .description {
    max-width: 720px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-top: 8px;
    color: var(--gl-subtitle);
  }
}
