// break points
$breakpoint-es: 360px;
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1604px;

$media-es: '(max-width: #{$breakpoint-es})';
$media-xs: '(max-width: #{$breakpoint-xs})';
$media-sm: '(max-width: #{$breakpoint-sm})';
$media-md: '(max-width: #{$breakpoint-md})';
$media-lg: '(max-width: #{$breakpoint-lg})';
$media-xl: '(max-width: #{$breakpoint-xl})';
$media-xxl: '(max-width: #{$breakpoint-xxl})';

// Theme Colors
$themes: (
  light: (),
  dark: (
    gl-text: #ffffff,
    gl-subtitle-v1: #adb0bc,
    gl-border-v1: rgba(255, 255, 255, 0.1),
    gl-body-v1: #0b0e13,
    gl-body-v2: #12171a,
    gl-body-v3: #10181f,
    gl-body-v4: #182029,
    gl-body-v5: #1f2935,

    gl-primary-v1: #65b741,
    gl-primary-v2: #45f882,
    gl-primary-v3: #ffbe18,
  ),
);
